body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('images/stone-bg.jpg');
    background-repeat: repeat;
    background-size: cover;
    user-select: none;
}

/*Hide Class*/
.hide{
    display: none !important;
}

/*Game Field*/
#game-field{
    border: 3px solid #000;
    position: absolute;
    background: url('images/bg.jpg');
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
}

/*Caves*/
#caves{
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    z-index: 18;
    gap: 30px;
}
#caves img{
    width: 320px;
    cursor: pointer;
}
.mine{
    cursor: url(images/cursor-pickaxe.png), default !important;
}
.buyCave{
    cursor: url(images/cursor-buy.png), default !important;
}

/*Tokens Info*/
#tokens-info{
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    min-width:150px;
    max-width: 300px;
    height: auto;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 10px;
}
#tokens-info .coin-number{
 display: flex;
 align-items: center;
 gap: 10px;
 padding: 10px 0;
}
#tokens-info .coin-number img{
 width: 40px;
}
#tokens-info .coin-number span{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

/*Shop*/
#shop{
    overflow: hidden;
    position: fixed;
    right: 40px;
    top: 30px;
    width: 200px;
    z-index: 10;
}
#shop img{
    position: relative;
    width: 1200px
}

/*Player*/
#player{
    position: fixed;
    top: 300px;
    left: 500px;
    width: 64px;
    overflow: hidden;
    z-index: 15;
}
#player img{
    position: relative;
}

/*Trade Floor*/
#trade-floor{
    width: 150px;
    height: 70px;
    position: fixed;
    z-index: 10;
    top: 255px;
    left: 985px;
}

/*Trade Info*/
.trade-info{
    position: fixed;
    width: 200px;
    z-index: 20;
    right: 10px;
    bottom: 10px;
}

/*Trade Menu*/
#trade-menu, #items-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 900px;
    height: 400px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    background: url('images/planks.jpg');
    border: 5px solid rgb(104, 61, 36);
    border-radius: 20px;
}
#trade-menu img, #items-menu img{
    width: 150px;
}
#trade-menu .trade-item, #items-menu .trade-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#trade-menu .trade-item button, #items-menu .trade-item button{
    border: 2px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
#trade-menu .trade-item button.buy, #items-menu .trade-item button.buy{
 background-color: #00ff00;
}
#trade-menu .trade-item button.buy:hover, #items-menu .trade-item button.buy:hover{
    background-color: #008300;
   }

#trade-menu .trade-item button.sell{
 background-color: #ff0000;
}
#trade-menu .trade-item button.sell:hover{
    background-color: #960000;
}

#pickaxes:hover{
    cursor: pointer;
    transform: scale(1.1);
}

input{
    text-align: center;
}

/*Token Price*/
.token-price{
    width: 150px !important;
}

/*Close Button*/
#close-btn, #close-items-btn{
    cursor: pointer;
}


/*Dark Background*/
#dark-bg{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 25;
    background-color: rgba(0, 0, 0, 0.507);
}

/*Animation Classes*/
.popUp{
    animation: popUp 1s linear;
}
.popOut{
    animation: popOut 1s linear;
}
.slideIn{
    animation: slideIn 10ms linear;
}
.slideOut{
    animation: slideOut 10ms linear;
}
.shake{
    animation: shake 0.5s linear;
}


/*Animations*/
@keyframes popUp {
    0%{
        bottom: -100px
    }
    70%{
        bottom: 40px
    }
    100%{
        bottom: 10px
    }
}
@keyframes popOut {
    from{
        right: 10px
    }
    to{
        right: -300px
    }
}

@keyframes slideIn {
    from{
        right: -300px;
    }
    to{
        right: 10px;
    }
}
@keyframes slideOut {
    from{
        right: 10px;
    }
    to{
        right: -300px;
    }
}

@keyframes shake {
    0%{
        right: 30px;
     }
     10%{
        right: 5px;
     }
     20%{
         right: 30px;
     }
     30%{
        right: 5px;
     }
     40%{
        right: 30px;
     }
     50%{
         right: 5px;
     }
     60%{
        right: 30px;
     }
     70%{
         right: 5px;
     }
     80%{
        right: 30px;
     }
     90%{
        right: 5px;
     }
     100%{
         right: 10px;
     }
}
  
  